<div>
    <div class="modal-header">
      <h3 class="modal-title" id="global-tweet-dialog-header">ツイートする</h3>
    </div>
    <div class="modal-body modal-tweet" id="global-tweet-dialog-body"></div>
    <div class="modal-tweet-form-container">
        <div>
            <div class="tweet-content">
                <div class="tweet-box" id="js-tweet-box" contenteditable="true"></div>
            </div>

            <div class="toolbar js-toolbar">
                <div class="tweet-box-extras">
                    <div id="tweet-image-container">
                    </div>
                </div>
                <div class="tweet-button">
                    <span class="spinner"></span>
                    <span class="tweet-counter" id="tweet-text-counter">140</span>
                    <button class="btn btn-info btn-large tweet-action tweet-btn" id="js-tweet-btn" type="button">
                    <span class="button-text tweeting-text">
                      ツイート
                    </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>