<ol>
  <li>
    <label class="clickable">
      <input type="radio" name="drawing-tool" class="drawing-tools" value="RectTool">矩形</input>
    </label>
  </li>
  <li>
    <label class="clickable">
      <input type="radio" name="drawing-tool" class="drawing-tools" value="PenTool">ペン</input>
    </label>
  </li>
</ol>