<ol class="none horizontal canvas-ol">
  <li>
    <label class="clickable">
      <input type="text" size="50" id="text-font-value" />
    </label>
  </li>
  <li>
    <label class="clickable">
      <select name="text-font-size" id="text-font-size">
        <option value="0.5em">0.5em</option>
        <option value="1em">1em</option>
        <option value="2em">2em</option>
        <option value="4em" selected>4em</option>
        <option value="8em">8em</option>
        <option value="16em">16em</option>
      </select>
    </label>
  </li>
  <li>
    <label class="clickable">
      <select name="text-font-family" id="text-font-family">
        <option value="Helvetica" selected>Helvetica</option>'
        <option value="Trebuchet MS">Trebuchet MS</option>'
        <option value="arial black">Arial black</option>'
        <option value="Comic Sans MS">Comic Sans MS</option>'
        <option value="serif">Serif</option>'
      </select>
    </label>
  </li>
</ol>