<ol class="none canvas-ol">
  <li>
    <label class="clickable">
      <input type="radio" name="drawing-tool" class="drawing-tools hidden" value="RectTool">
        <img title="矩形ツール" src="../../../asset/img/canvas/tool/rect.png" />
      </input>
    </label>
  </li>
  <li>
    <label class="clickable">
      <input type="radio" name="drawing-tool" class="drawing-tools hidden" value="PenTool">
        <img title="ペンツール" src="../../../asset/img/canvas/tool/pen.png" />
      </input>
    </label>
  </li>
  <li>
    <label class="clickable">
      <input type="radio" name="drawing-tool" class="drawing-tools hidden" value="LineTool">
        <img title="直線ツール" src="../../../asset/img/canvas/tool/line.png" />
      </input>
    </label>
  </li>
  <li>
    <label class="clickable">
      <input type="radio" name="drawing-tool" class="drawing-tools hidden" value="TextTool">
        <img title="文字ツール" src="../../../asset/img/canvas/tool/text.png" />
      </input>
    </label>
  </li>
  <li>
    <label class="clickable">
      <input type="radio" name="drawing-tool" class="drawing-tools hidden" value="TrimTool">
        <img title="切り取りツール" src="../../../asset/img/canvas/tool/trim.png" />
      </input>
    </label>
  </li>
  <li>
    <label class="clickable">
      <input type="radio" name="drawing-tool" class="drawing-tools hidden" value="DropperTool">
        <img title="切り取りツール" src="../../../asset/img/canvas/tool/dropper.png" />
      </input>
    </label>
  </li>
</ol>
