<div>
  <ol class="none side-navi-r">
    <li>
      <span id="undo" class="clickable"><img title="ひとつ戻る" src="../../asset/img/canvas/action/undo.png" /></span>
    </li>
    <li>
      <div>
        <span id="download-img" class="clickable"><img title="ダウンロード" src="../../asset/img/canvas/action/download.png" /></span>
      </div>
      <div>
        <input type="text" id="download-file-name" value="{{defaultFileName}}" placeholder="ファイル名" size="20" required/>
      </div>
    </li>
  </ol>
</div>
