<div>
  <ol class="none side-navi-r">
    <li>
      <span id="undo" class="clickable"><img title="ひとつ戻る" src="../../asset/img/canvas/action/undo.png" /></span>
    </li>
    <li>
      <span id="download-img" class="clickable"><img title="ダウンロード" src="../../asset/img/canvas/action/download.png" /></span>
    </li>
  </ol>
</div>
