<ol class="none horizontal">
  <li>
    <span id="download-img" class="clickable"><img src="../../asset/img/canvas/action/download.png" /></span>
  </li>
  <li>
    <span id="undo" class="clickable"><img src="../../asset/img/canvas/action/undo.png" /></span>
  </li>
</ol>
