<div>
  <ol class="none side-navi-r">
    <li>
      <div>
        <span id="download-img" class="clickable"><img class="file-action" title="ダウンロード" src="../../asset/img/canvas/action/download.png" /></span>
      </div>
      <div>
        <input style="display:none;" type="text" id="download-file-name" value="{{defaultFileName}}" placeholder="ファイル名" size="20" required/>
      </div>
    </li>
    <li>
      <span id="tweet" class="clickable" style="display:none;"><img class="file-action" title="ツイートする" src="../../asset/img/canvas/action/twitter.png" /></span>
    </li>
  </ol>
</div>
